.date-picker {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #b3b3b3;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-min-width: 200;
}

.date-picker .arrow-button {
    -fx-background-color:  #F1F1F7;
}

.date-picker .arrow-button:hover {
    -fx-background-color:  #F1F1F7;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: #7971bb;
}

.date-picker .button {
    -fx-min-width: 10;
}

/* Calendar Popup */
.date-picker-popup {
    -fx-background-color: #7971bb;
    -fx-border-color: #7971bb;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

/* Calendar Days */
.date-picker-popup .day-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
}

.date-picker-popup .day-cell:hover {
    -fx-background-color: #f0f8ff;
}

.text-field {
    -fx-border-color: #7971bb;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-min-width: 250;
    -fx-font-size: 14px;
}

.text-area {
    -fx-border-color: #7971bb;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-min-width: 250;
    -fx-font-size: 14px;
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: white;
    -fx-text-fill: #FC6767;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-border-color: linear-gradient(to right, #ed0783, #FC6767);
    -fx-border-width: 2;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-min-width: 150;
}

.button:hover {
    -fx-background-color: linear-gradient(to right, #ed0783, #FC6767);
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-min-width: 150;
}

#submitButton, #updateClaimButton {
    -fx-background-color: white;
    -fx-text-fill: #22b82e;
    -fx-font-weight: bold;
    -fx-border-color: linear-gradient(to right, #28fa6a, #a0f6a7);
    -fx-border-width: 2;
    -fx-font-size: 14px;
    -fx-min-width: 150;
}

#submitButton:hover, #updateClaimButton:hover {
    -fx-background-color: linear-gradient(to right, #28fa6a, #a0f6a7);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-min-width: 150;
}

.combo-box {
    -fx-background-color: white;
    -fx-border-color: #7971BB;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-min-width: 200;
}