#alertPane {
    -fx-border-color: linear-gradient(to right, #ed0783, #FC6767);
    -fx-background-color: white;
    -fx-border-width: 3;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.button {
    -fx-border-color: linear-gradient(to right, #ed0783, #FC6767);
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: linear-gradient(to right, #ed0783, #FC6767);
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}